<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pike.litnep"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

            <!--
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
            -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ComposeActivity"
            android:label="@string/title_activity_compose"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pike.litnep.MainActivity" />
        </activity>
        <activity
            android:name=".SigninActivity"
            android:label="@string/title_activity_signin"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pike.litnep.MainActivity" />
        </activity>
        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_signup"
            android:parentActivityName=".SigninActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pike.litnep.SigninActivity" />
        </activity>
        <activity
            android:name=".LibraryActivity"
            android:label="@string/title_activity_library" >
        </activity>
        <activity
            android:name=".ReviewsActivity"
            android:label="@string/title_activity_reviews" >
        </activity>
        <activity
            android:name=".BooksActivity"
            android:label="@string/title_activity_books" >
        </activity>
        <activity
            android:name=".ShopActivity"
            android:label="@string/title_activity_shop" >
        </activity>
    </application>

</manifest>